*
{
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Raleway', sans-serif;
}

.contact
{
    background-color: $myInfo;
    color: $myWhite;
}

.form
{
    background-color: $myForm;
    color: $myWhite;
}

.formTitle
{
    background-color: $myPink;
}