@media screen and (max-width: 576px)
{
    header
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: auto;
    }

    .nav-main
    {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bodyII
    {
        text-align: center;
    }



}