@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\000031}}
.bodytitle {
  color: #2a5886; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\000037}}
.nav-main {
  background-color: #2a5886; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000314}}
.dropdown {
  position: relative;
  display: inline-block;
  color: #fffbfb;
  background-color: #2a5886; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000322}}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffbfb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000332}}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000340}}
.dropdown-content a:hover {
  background-color: #DC422F;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000346}}
.dropdown:hover .dropdown-content {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000351}}
.dropdown:hover {
  background-color: #54BFAC;
  color: #fffbfb; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000357}}
.link-btn {
  background-color: #2a5886;
  color: #fffbfb;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000364}}
.link-btn:hover {
  background-color: #54BFAC;
  color: #fffbfb; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000371}}
.centered {
  position: absolute;
  top: 30%;
  left: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000378}}
.centered-bodyIV {
  position: relative;
  top: 20%;
  left: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000385}}
.body0btn, .bodyIbtn {
  background-color: #DC422F;
  text-decoration: none;
  color: #fffbfb;
  padding: 5px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\0000393}}
.body0btn:hover, .bodyIbtn:hover {
  background-color: #2a5886;
  text-decoration: none;
  color: #fffbfb;
  padding: 5px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003101}}
.bodyIIimg {
  max-width: 100%;
  min-height: min-content; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003107}}
.date {
  color: #fffbfb;
  background-color: #54BFAC;
  padding: 2px;
  max-width: max-content; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003115}}
.card {
  background-color: transparent !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003120}}
.myform {
  background-color: #2a5886;
  color: #fffbfb; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003126}}
::placeholder {
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003131}}
.submitbtn {
  background-color: #DC422F;
  color: #fffbfb; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003138}}
.contact {
  background-color: #F7DC69; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003143}}
.contactIcon {
  color: #201f1f; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003148}}
.contactIcon:hover {
  color: #2a5886; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003153}}
ul .footnav {
  color: #2a5886;
  font-size: smaller;
  border-right: 2px solid #2a5886;
  padding: 2px 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003161}}
ul .footnavlast {
  color: #2a5886;
  font-size: smaller;
  padding: 2px 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003168}}
.footbtn {
  box-shadow: 1px 1px 8px, 0 0 8px black; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_page\.scss}line{font-family:\00003173}}
footer {
  display: block;
  left: 50%;
  right: 50%;
  text-decoration: none;
  color: #201f1f; }

@media screen and (max-width: 576px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_responsive\.scss}line{font-family:\000033}}
  header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_responsive\.scss}line{font-family:\0000311}}
  .nav-main {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Crush\%20IT\/Front\%20End\/Task\/A12\/SASS\/_responsive\.scss}line{font-family:\0000319}}
  .bodyII {
    text-align: center; } }

/*# sourceMappingURL=Main.css.map */
