//Section background
$myMBackground:#E5E5E5;
$myDBackground:#ffffff;

//Designation Font color
$desigRed:#ff0000;
$desigGreen:#35a501;
$desigBlue:#00aeff;
$name: $myDBackground;

//Icon Color
$iconTwitter:#1DA1F2;
$iconDribbble:#ea4c89;
$iconInstagram:#0144fd;