.mainff 
{ 
    text: 
    {
        align: center; 
    }
    font:
    {
        family: 'Roboto Slab', serif;
    }
}

.mainBg
{ 
    text: {
        align: center;
    }
}

.frame
{ 
    text: {
        align: center;
    }
}

.fg 
{
    font:
    {
        family: 'Roboto Slab', serif;
    }
    text:
    {
        shadow: 2px 2px 8px #000000;
    }
} 

